rpcuser={{ bitcoin_rpcuser }}
rpcpassword={{ bitcoin_rpcpassword }}
rpcbind={{ bitcoin_rpcbind }}
server=1
daemon=1
rpcport={{ bitcoin_rpcport }}
port={{ bitcoin_port }}
checklevel=1
testnet=0
gen=0
maxtxfee=0.2
txconfirmtarget=3
fallbackfee=0.00035
#paytxfee=0.0035
txindex=1
spendzeroconfchange=0
addresstype=legacy
deprecatedrpc=accounts
{{ bitcoin_additional_parameter }}
